/*? GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*? RESET TO DEFAULTS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*? CUSTOM CSS */

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1700px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  color: var(--white-color);
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

:root {
  /*! COLORS */
  --white-color: #fff;
  --bg-color: #7f2e2e;
  --second-color: #ffea00;

  /** TYPOGRAPHY */

  /*! FONT SIZE */
  --fs-s: 0.8rem;
  --fs-n: 1rem;
  --fs-l: 1.2rem;
  --fs-xl: 2rem;

  /*! FONT WEIGHT */
  --fw-light: 400;
  --fw-normal: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/*? HEADER CSS */

header {
  background: var(--bg-color);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.logo img {
  width: 50px;
}

.logo span {
  color: var(--second-color);
  font-size: 1.9rem;
  font-weight: var(--fw-semibold);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

nav ul li {
  font-size: var(--fs-l);
  position: relative;
}

nav ul li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: var(--white-color);
  width: 100%;
  transform: scale(0);
  transition: all 0.3s ease;
}

nav ul li:hover::before {
  transform: scale(1);
}
