/*? GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*? RESET TO DEFAULTS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*? CUSTOM CSS */

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1800px;
  padding: 0 40px;
  margin: 0 auto;
}

a {
  color: var(--white-color);
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

:root {
  /*! COLORS */
  --white-color: #fff;
  --bg-color: #7f2e2e;
  --second-color: #ffea00;

  /** TYPOGRAPHY */

  /*! FONT SIZE */
  --fs-s: 0.9rem;
  --fs-n: 1rem;
  --fs-m: 1.12rem;
  --fs-l: 1.5rem;
  --fs-xl: 2rem;
  --fs-xll: 2.3rem;

  /*! FONT WEIGHT */
  --fw-light: 400;
  --fw-normal: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/*? HEADER CSS */

header {
  background: var(--bg-color);
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.logo img {
  width: 50px;
}

.logo span {
  color: var(--second-color);
  font-size: 1.9rem;
  font-weight: var(--fw-semibold);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

nav ul li {
  font-size: var(--fs-m);
  position: relative;
}

nav ul li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: var(--white-color);
  width: 100%;
  transform: scale(0);
  transition: all 0.3s ease;
}

nav ul li:hover::before {
  transform: scale(1);
}

#menu-close-button,
#menu-open-button {
  display: none;
}

/*? HERO SECTION CSS */
.hero-section {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.texts {
  flex-basis: 60%;
}

.texts h1 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-normal);
  color: var(--second-color);
  font-family: "Miniver", sans-serif;
}

.texts h2 {
  font-size: var(--fs-xll);
  max-width: 70%;
  line-height: 1.5;
  color: var(--white-color);
  margin: 10px 0 20px;
  font-weight: var(--fw-semibold);
}

.texts p {
  font-size: var(--fs-m);
  line-height: 1.5;
  max-width: 70%;
  color: var(--white-color);
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.button {
  background: var(--second-color);
  padding: 10px 26px;
  border-radius: 30px;
  color: #7f2e2e;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-m);
  border: 3px solid transparent;
  transition: all 0.3s ease;
}

.button:hover,
.contact-us {
  color: var(--second-color);
  border-color: var(--white-color);
  background: transparent;
}

.contact-us:hover {
  color: var(--bg-color);
  background: var(--second-color);
  border-color: transparent;
}

.image {
  flex-basis: 60%;
}

.image img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  :root {
    /*? FONT SIZE */
    --fs-m: 1rem;
    --fs-l: 1.3rem;
    --fs-xl: 1.5rem;
    --fs-xll: 1.8rem;
  }
  /* ! HEADER SECTION */
  nav ul {
    position: fixed;
    left: -300px;
    top: 0;
    background: var(--white-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    justify-content: center;
    transition: all 0.3s ease;
  }

  nav ul li {
    font-size: var(--fs-l);
    font-weight: var(--fw-semibold);
  }

  body.show-left {
    overflow: hidden;
  }

  body.show-left .header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  body.show-left nav ul {
    left: 0;
  }

  #menu-close-button,
  #menu-open-button {
    display: block;
    font-size: var(--fs-l);
  }

  #menu-open-button {
    color: var(--white-color);
  }

  nav ul li a {
    color: var(--bg-color);
  }

  #menu-close-button {
    position: absolute;
    right: 30px;
    top: 70px;
  }

  /* ! HERO SECTION */
  .image {
    margin-right: 0;
    max-width: 400px;
  }

  .hero-section .container {
    flex-direction: column-reverse;
    padding: 80px 20px 20px;
    gap: 50px;
    justify-content: center;
    text-align: center;
  }

  .texts h1,
  .texts h2,
  .texts p {
    max-width: 100%;
  }

  .buttons {
    justify-content: center;
  }
}
